* {
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(30, 30, 30);
}

.container {
    margin: 10px auto;
    width: 95%;
}

div.titulo {
    background-color: blue;
    text-align: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
    font-size: 120%;
}

div.tituloderecha {
    float: right;
    top: -110px;
    right: 10px;
    position: relative;
    font-size: 150%;
}



nav {
    position: relative;
    left: 4px;
    background-color: grey;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.menu-arriba {
    display: inline-block;
    margin: 0 -4px;
    padding: 25px;
    padding-right: 150px;
    padding-left: 30px;
    font-size: 125%;
}

.menu-arriba:link, .menu-arriba:visited, .menu-arriba:active{
    text-decoration: none;
}

.menu-arriba:first-child {
    position: relative;
    background-color: darkgray;
    border-top-left-radius: 20px;
}

h3.barralateral {
    text-align: center;
}

.principal {
    float: left;
    background-color: darkgrey;
    padding: 1%;
    width: 100%;
}
h2 {
    position: relative;
    text-align: center;
    top: 15px;
}

.menu-arriba:hover:not(:first-child) {
    background-color: black;
}

.barralateral {
    float: left;
    padding: 15px;
    background-color: darkgray;
    margin-left: -1.1%;
    margin-top: -1.01%;
    width: 13%;
    height: 100%;
    font-size: 125%;
    border: 5px solid black;
}

.lilateral {
    padding: 15px;
}

.parteinfo {
    float: left;
    width: 87%;
    padding-left: 2%;
}

.caracteristicas {
    position: relative;
    background-color: red;
    border: black 3px solid;
    border-radius: 10px;

}

.caracteristicas {
    float: left;
    padding: 50px;
    width: 100%;
}

.articulocarac {
    text-align: center;
    display: inline-block;
    width: 33%;
    padding: 10px;
    font-size: 115%;
}

.nodejar {
    position: relative;
    width: 100%;
}

.nodejardiv {
    text-align: center;
    display: inline-block;
    width: 48%;
    padding: 10px;
}

img {
    width: 300px;
    border: 2px black solid;
    background-color: black;
}

.AWfrecuencia {
    position: relative;
    text-align: center;
}

.AWfrecuenciaa {
    padding: 10px;
}

footer {
    float: left;
    text-align: center;
    background-color: grey;
    padding: 30px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}